@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins',
        sans-serif;
}

.header-top-col {
    width: 100%;
    height: auto;
    position: relative;
    overflow: hidden;
    padding: 0;
}

.header-top-col:hover .header-top-absolute h1::before{
    width:100%;
}

.header-top-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.575);
}

.header-top-absolute {
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    position: absolute;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-top-absolute h1 {
    font-size: 32px;
    font-weight: 500;
    z-index: 100;
    color: #fff;
    margin-bottom: 30px;
    position: relative;
}

.header-top-absolute h1::before {
    display: block;
    width: 0;
    height: 6px;
    content: '';
    margin: auto;
    background-color: #fff;
    position: absolute;
    bottom: -18px;
    left: 0;
    transition: all 0.6s 0s ease;
}

video {
    width: 100%;
    display: block;
}

@media screen and (min-width:575px){
    .header-top-absolute h1 {
        font-size: 40px;
    }
}

@media screen and (min-width:768px) {
    .header-top-absolute h1 {
        font-size: 60px;
    }
}

@media screen and (min-width:1200px) {
    .header-top-absolute h1 {
        font-size: 80px;
    }
}


/* ARTICLE */

.articles-col img{
    width:100%;
    height:300px;
    object-fit: cover;
    margin:0 auto;
}